* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
  padding-top: 26px;
  width: 95%;
}

.center-text {
  text-align: center;
}

.fill-width {
  height: 100%;
  width: 100%;
}

.float-right {
  float: right;
}

.margin-top {
  margin-top: 10px;
}

.controll-row {
  width: 127px;
}

.width-orient {
  width: 63px;
}

.btn.no-focus:focus {
  outline: 0;
}

.fill-width.no-focus:focus {
  outline: 0;
}

.ace_editor  {
  height: 666px;
  border: 1px solid #ddd;
}

.file-button {
  max-width: 93px;
  overflow: hidden;
}

.manage-file-button {
  position: absolute;
  left: 112px
}

li.header {
  background-color:lightgrey;
}

li {
  h4 {
    margin: 0;
  }
}

.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

iframe {
  height: 713px !important;
  margin-top: 40px;
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
